@font-face {
    font-family: "font";
    src: url("source/Potra.ttf");
    font-display: swap;
}

body{
    width: 100vw;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "font";
    overflow-x: hidden;
    background: #ddd;
}



::selection{
    color: red;
    background-color: yellow;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
    height: 17vh;
}
::-webkit-scrollbar-thumb:hover {
    background: #424242;
}
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}



.loading_layer_exit{
    -webkit-animation: puff-out-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	animation: puff-out-center 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}




#nav{
    width: 10vw;
    position: fixed;
    top: 2vw;
    left: 2vw;
    visibility: hidden;
    z-index: 12;
}
label{
    display:flex;
    flex-direction:column;
    width:70px;
    cursor:pointer;
}
   
label span{
     background: #fff;
     border-radius:10px;
     height:7px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
span:nth-of-type(1){
    width:50%;
}
span:nth-of-type(2){
    width:100%;
}
span:nth-of-type(3){
    width:75%;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
}
input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
}
input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
}

   
.nav_active{
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.nav_active2{
    -webkit-animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;

}
@-webkit-keyframes slide-out-blurred-left{0%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateX(-1000px) scaleX(2) scaleY(.2);transform:translateX(-1000px) scaleX(2) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}@keyframes slide-out-blurred-left{0%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateX(-1000px) scaleX(2) scaleY(.2);transform:translateX(-1000px) scaleX(2) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}}



#menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 45vw;
    height: 100vh;
    font-size: 2.4vw;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(21px);
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 10;
    visibility: hidden;
}
#menu-items ul{
    margin: 10%;
    list-style: none;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    text-align: center;
}
#menu-items li{
    line-height: 16vh;
}
#menu-items a{
    cursor: pointer;
}
#blurry-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    backdrop-filter: blur(12px);
    visibility: hidden;
}



.menu-items-entrance{
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
	animation: slide-in-left 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
.menu-items-exit{
    -webkit-animation: slide-out-left 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
	animation: slide-out-left 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
}
@-webkit-keyframes slide-out-left{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}}@keyframes slide-out-left{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}}


.blurry-background-entrance{
    -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
.blurry-background-exit{
    -webkit-animation: fade-out 0.5s ease-out both;
	animation: fade-out 0.5s ease-out both;
}
@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}







#section_1{
    width: 100vw;
    height: 500vh;
}

#section_1_tile{
    width: 50%;
    height: 10vh;
    float: right;
    background-color: #F64C72;
}
#section_1_tile ul {
    width: 80%;
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 0 10%;
    padding: 0;
}
  
#section_1_tile  li {
    width: 25%;
    float: left;
    line-height: 10vh;
}
  
#section_1_tile  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
#section_1_tile  li a:hover {
    background-color: #F41B4C;
  }
  



#section_1_right{
    width: 50%;
    height: 100vh;
    background-image: url("source/bg_1_1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: right;
}
.section_1_zoom{
    animation: section_1_animation_image 0.6s ease both;
}
@keyframes section_1_animation_image{
    to{filter: blur(4px);
    height: 110vh;}
}
.section_1_zoom_return{
    animation: section_1_animation_return_image 0.4s ease both;
}
@keyframes section_1_animation_return_image{
    from {filter: blur(4px);
            height: 110vh;
        }
    to{filter: blur(0px);
    height: 100vh;}
}

#section_1_left{
    width: 50%;
    height: 350vh;
    background: #2F2FA2;
    background: linear-gradient(0deg, #F64C72 35%, #2F2FA2 60%);
    float: left;
}


#section_1_title{
    position: absolute;
    width: 100%;
    color: black;
    font-size: 5vw;
    text-align: center;
    margin-top: 30vh;
}

#section_1_desc{
    position: absolute;
    width: 100%;
    top: 160vh;
    left: 0vw;
    margin-top: 5vh;
    color: black;
    font-size: 5vw;
}
#section_1_desc h1:nth-of-type(1){
    text-align: left;
}
#section_1_desc h1:nth-of-type(2){
    text-align: right;
}
#section_1_desc p{
    text-align: center;
}



#section_1_new_left{
    position: sticky;
    top: 350vh;
    width: 80%;
    margin-left: -30%;
    height: 150vh;
    background-image: url("source/bg_1_2.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}





#section_1_quote{
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(21px);
    border: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    padding: 5% 0 5% 0;
    visibility: hidden;
    display: inline-block;
    white-space: nowrap;
}

.section_1_quote_anim{
    animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.section_1_quote_anim2{
    -webkit-animation:roll-out-blurred-right .65s cubic-bezier(.755,.05,.855,.06) both;
    animation: roll-out-blurred-right 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}


@-webkit-keyframes slide-in-elliptic-bottom-fwd{0%{-webkit-transform:translateY(600px) rotateX(30deg) scale(0);transform:translateY(1000px) rotateX(30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% -1400px;transform-origin:50% -1400px;opacity:1}}@keyframes slide-in-elliptic-bottom-fwd{0%{-webkit-transform:translateY(600px) rotateX(30deg) scale(0);transform:translateY(600px) rotateX(30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% -1400px;transform-origin:50% -1400px;opacity:1}}


@-webkit-keyframes roll-out-blurred-right{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateX(1000px) rotate(720deg);transform:translateX(1000px) rotate(720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}}@keyframes roll-out-blurred-right{0%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:translateX(1000px) rotate(720deg);transform:translateX(1000px) rotate(720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}}



#quote-text
{
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: 0.5vw;
    word-spacing: 1vw;
}
@keyframes textclip {
    to {
    background-position: 200% center;
    }
}








#section_2{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#pinContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    background-image: url("source/programming.webp");
    background-attachment: fixed;
}
#slideContainer {
    width: 400%; 
    height: 100%;
}
.place {
    height: 100%;
    width: 25%; 
    float: left;
}


.a{
    background-color: #2F2FA2;
    background-image: url("https://scrollmagic.io/assets/img/example_bg_spacer_h.gif");
}
.a p{
    text-align: center;
    color: white;
    font-size: 3vw;
}
.a #achievement_tablet{
    display: none;
    visibility: hidden;
}
.a #achievement_smartphone{
    display: none;
    visibility: hidden;
}
.a #achievement_standart{
    width: 90%;
    margin-left: 5%;
    margin-top: 12%;
    color: white;
    font-size: 2vw;
}
.a tr{
    width: 100%;
}
.a td{
    width: 25%;
}
.a img{
    width: 60%;
    margin-left: 20%;
}







.b{
    background-color: #F64C72;
    background-image: url("https://scrollmagic.io/assets/img/example_bg_spacer_v.gif");
}
.b iframe{
    width: 30%;
    height: 70%;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
.b p{
    text-align: center;
    color: white;
    font-size: 3vw;
    word-spacing: 1vw;
}
.b table{
    max-width: 50%;
    min-width: 30%;
    color: white;
    font-size: 2.2vw;
    margin-left: 5%;
    border-radius: 10vw;
    margin-top: 15%;
    float: left;
}
.b tr>td {
    padding-bottom: 4%;
}
.b table, .b th, .b td {
    border: 0.15vw solid white;
    border-collapse: collapse;
    padding: 3%;
  }






.c{
    background-color: #25274D;
    background-image: url("https://scrollmagic.io/assets/img/example_bg_spacer_h.gif");
}
.c p{
    text-align: center;
    color: white;
    font-size: 3vw;
}

.c fieldset{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    border: white dotted 0.2vw;
    padding: 1.5% 0 1.5% 0;
}
.c legend{
    color: white;
    font-size: 1.2vw;
}
.c fieldset a{
    display: inline-block;
    white-space: nowrap;
}
.c1{
    float: left;
    width: 30%;
    margin-left: 10%;
}
.c2{
    float: right;
    width: 30%;
    margin-right: 10%;
}

.c img{
    margin-right: 5%;
    vertical-align: middle;
}
.c a{
    color: white;
    font-size: 2vw;
    text-decoration: none;
}

.c #ul{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
}
.c ul{
    color: white;
    max-width: 35%;
}
.c #ul ul:nth-child(-n+1){
    float: left;
    margin-left: 10%;
}
.c #ul ul:nth-child(-n+2){
    float: right;
    margin-right: 10%;
}

.c li{
    margin-bottom: 10%;
}
.c li a{
    font-size: 1.3vw;
}
.c li a img{
    margin-right: 5%;
    width: 20%;
}





.d{
    background-color: #46344E;
    background-image: url("https://scrollmagic.io/assets/img/example_bg_spacer_v.gif");
}
.d p{
    text-align: center;
    color: white;
    font-size: 3vw;
}

.d .contact{
    width: 30%;
    float: right;
    margin-right: 15%;
    margin-top: 10%;
    text-align: right;
}
.d .contact a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.2vw;
}
.d .contact img{
    margin-top: 5%;
    margin-right: 10%;
}
.d .contact p{
    font-size: 1.6vw;
    margin-top: 1%;
    margin-right: 40%;
}


#contact_arrow{
    visibility: hidden;
}

.contact_arrow_anim{
    -webkit-animation: swirl-in-left-fwd 0.6s ease-out both;
	animation: swirl-in-left-fwd 0.6s ease-out both;
}
.contact_arrow_anim2{
    -webkit-animation: slit-out-diagonal-2 0.5s ease-in both;
	animation: slit-out-diagonal-2 0.5s ease-in both;
}


@-webkit-keyframes swirl-in-left-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);-webkit-transform-origin:0 50%;transform-origin:0 50%;opacity:1}}@keyframes swirl-in-left-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);-webkit-transform-origin:0 50%;transform-origin:0 50%;opacity:1}}

@-webkit-keyframes slit-out-diagonal-2{0%{-webkit-transform:translateZ(0) rotate3d(-1,1,0,0);transform:translateZ(0) rotate3d(-1,1,0,0);opacity:1}54%{-webkit-transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);opacity:1}100%{-webkit-transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);opacity:0}}@keyframes slit-out-diagonal-2{0%{-webkit-transform:translateZ(0) rotate3d(-1,1,0,0);transform:translateZ(0) rotate3d(-1,1,0,0);opacity:1}54%{-webkit-transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);transform:translateZ(-160px) rotate3d(-1,1,0,-87deg);opacity:1}100%{-webkit-transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);transform:translateZ(-800px) rotate3d(-1,1,0,-90deg);opacity:0}}



.d .box_img{
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 7%;
}
.box_img .img1{
    width: 60%;
}
.box_img .img2{
    position: relative;
    left: -20%;
    width: 30%;
}
.box_img .img3{
    position: absolute;
    width: 3.5%;
    right: 12%;
}







#section_3{
    width: 100vw;
    height: 100vh;
    background-image: url("source/programming.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 500vh;
}

#footer{
    width: 100vw;
    padding: 1% 0 1% 0;
    background-color: #F64C72;
    color: #fff;
    font-size: 1.5vw;
    text-align: center;
}