@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  font-family: 'Noto Sans';
  font-display: swap;
}


body{
    width: 100%;
    margin: 0;
    margin-bottom: 20vh;
}

h1{
    text-align: center;
    margin-top: 10vh;
    color: white;
    font-size: 7vw;
}

img{
    position: relative;
    width: 30vw;
    left: 52vw;
    margin-top: 2vw;
}

h3{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 4%;
    color: #fff4e1;
    font-size: 3.2vw;
}

h2{
    text-align: center;
    margin-right: 10vw;
    font-size: 4vw;
    margin-top: 15%;
    color: aliceblue;
    margin-bottom: 5%;
    text-decoration: underline;
}

table, td, th {
    border: 2px solid white;
}
  
table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
    color: white;
}

td{
    padding: 2.5%;
    font-size: 2vw;
}

#main_td{
    text-align: center;
    color: white;
    margin-top: 4vw;
    font-size: 2.4vw;
}

#zloto{
    background-color: rgb(251, 219, 36);
}
#srebro{
    background-color:  #C0C0C0;
}
#braz{
    background-color: #CD7F32;
}




.topnav {
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
display: block;
color: #f2f2f2;
text-align: center;
padding: 7px 8px;
text-decoration: none;
font-size: 14px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}